/* Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
    --primary: #f85555;
    --light-gray: #dcd9d9;
    --gray: #c7c7c7;
    --dark-gray: #4f4f4f;
    --text-gray: #ababab;
}
 
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.main-container {
    transition: all .5s;
    margin: 0 auto;
    padding: 13px 20px;
}

.navbar h2 {
    color: var(--gray);
    text-transform: lowercase;
}

.navbar .fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}

.content {
    max-width: 1068px;
    margin: auto;
    width: 100%;
    
  }

  .username-container {
    width: 60px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--bg-color);
        
  }

  .login-container {
   margin-top: 12rem;
   border-radius: 10px;
   width: 300px;
   padding: 1rem ;
   background-color: var(--dark-gray);
  }

  .login-container.register {
    margin-top: 8rem;
  }

  .container-login-general {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close-login-logout {
    opacity: 0;
  }
  

section {
    padding: 1rem 0 3rem;
    
}

.cart {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0;
    
}

.car-icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: start;
        
}

.car-icon {
    color: var(--text-gray);
    cursor: pointer;
}


.car-icon:hover {
    padding: 2px;
    transition: 0.4s;
}

.cart-modal {
    background: #fff;
    bottom: 0;
    box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
    position: fixed;
    right: -330px;
    top: 80px;
    transition: all .5s;
    width: 330px;
    z-index: 9;
    
}

.carON {
    transition: all .5s;
    opacity: 0.2;
}

.cart-modal.open {
    right: 0;
    
}

.cart .minimalist-scrollbar {
    flex: 1 1;
}

.cart .cart-products-list {
    flex: 1 1;
    list-style: none;
    margin-bottom: 20px;
}

.cart .cart-products-list li {
    margin-bottom: 60px;
}

.cart .cart-products-list, .cart h4 {
    padding: 0 20px;
}

.cart .cart-products-list li .product-info {
    display: flex;
    margin-bottom: 18px;
}

.cart .cart-products-list li .product-info img {
    height: 70px;
    object-fit: contain;
    width: 70px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.purchases {
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
   
}

.purchases .purchase-products-list .product-item .quantity .box {
    border: 1px solid var(--light-gray);
    margin: 0 auto;
    max-width: 65px;
    text-align: center;
}

.purchases .purchase-products-list .product-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 60px;
    margin-bottom: 20px;
}

.product-item {
    
    gap: 3rem;
    align-items: center;
}

.main-container.purchases{
    margin-top: 2rem;
    
}

.image-purchase {
    width: 200px;
}

.purchases .purchase-products-list .product-item .image img {
    height: 100%;
    object-fit: contain;
}

.cart .cart-products-list li .total {
    text-align: right;
}

.cart .cart-products-list li .product-info .details {
    flex: 1 1;
    padding: 0 10px;
}

.purchases .purchase-products-list .product-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 60px;
    margin-bottom: 20px;
}

.purchases .purchase-products-list .product-item .date {
    display: none;
}

.cart .cart-products-list li .product-info .details .brand {
    color: var(--gray);
    font-size: .8rem;
    margin-bottom: 2px;
}

.product-item img {
    width: 50%;
    margin: 20px;
   
}

.cart .cart-products-list li .product-info .details a, .cart .cart-products-list li .product-info .details span {
    display: block;
    text-decoration: none;
}

.cart .cart-products-list li .product-info .details .name {
    color:var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.cart .cart-products-list li .product-info .button-delete button {
    background: transparent;
    color: var(--primary);
}

.quantity-box .flex {
    display: flex;
}

.quantity-box .value {
    line-height: 1.7;
    padding: 0 20px;
}

.quantity-box .value, .quantity-box button {
    border: 1px solid #dcd9d9;
    border: 1px solid var(--light-gray);
}

.quantity-box button {
    background: none;
    height: 30px;
    line-height: 1.9;
    width: 30px;
}

button {
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.close-button-cart {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    border: 1px solid var(--primary);
}


.close-button-cart button {
    width: 80px;
    height: 40px;
}

.close-button-cart button:hover {
    background-color: var(--light-gray);
}

.minimalist-scrollbar {
    overflow: auto;
    text-align: center;
    margin-top: 1rem;
}

.minimalist-scrollbar i {
    position: absolute;
    margin-left: 7.5rem;
    top: .5rem;
}

.content {
    flex: 1 1;
}

.search-box {
    margin: 0 50px 20px;
    margin-top: 4.5rem;
    position: relative;
    margin-bottom: 0;
}

.search-box .input {
    display: flex;
    margin-bottom: 15px;
    max-width: 900px;
    
}


.cart-button i {
    color: white;
    
}

input {
    font-size: 1rem;
    outline: none;
    
}


.search-box .input button {
    background: var(--primary);
    border: none;
    color: #fff;
    font-size: 1.1rem;
    height: 45px;
    line-height: 1;
    width: 45px;
    padding: .7rem;
}

.search-box .input input {
    border: 1px solid var(--light-gray);
    flex: 1 1;
    font-size: .9rem;
    padding: 5px ;
    
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.products-list li {
    width: 60%;
    padding: 20px 10px;
}

.product-card {
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    height: 100%;
    position: relative;
    margin-top: 1rem;
    margin-left: 10px;
}

.product-card a {
    display: block;
    text-decoration: none;
}

.product-card .image {
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    height: 250px;
    justify-content: center;
    position: relative;
}

.product-card .image img {
    display: block;
    height: 80%;
    margin: 0 auto;
    object-fit: contain;
    width: 80%;
    
}

.cart h5 {
    padding: 0 20px;
    font-size: 1.3rem;
    margin-bottom: 20px;
    
}

.cart .checkout-section .buy-button {
    background: var(--primary);
    color: #fff;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.cart .checkout-section .total .label {
    color: var(--light-gray);
}

.cart .checkout-section .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 10px;
}

.cart .checkout-section .total b {
    font-size: 1.1rem;
    
}

.images-preview {
    display: none;
}

.image-selected {
    
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center;
    position: relative;
    
}

.image-selected img {
    
    display: block;
    height: 80%;
    margin: 0 auto;
    object-fit: contain;
    width: 80%;
    
}

.product-card .info strong {
    font-size: 1.1rem;
    margin-bottom: 25px;
    margin-left: 15px;
    display: flex;
    margin-top: 1rem;
    padding: 0 1rem;
}

.product-card .info .brand {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 1rem;
}

.product-card .info .price {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 1rem;
}

.product-card .info .amount {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 10px;
}

.product-card .info * {
    display: block;
}

.product-card .cart-button {
    background: var(--primary);
    border-radius: 50%;
    bottom: 15px;
    color: #fff;
    font-size: 1.3rem;
    height: 50px;
    line-height: 0;
    position: absolute;
    right: 30px;
    width: 50px;
}

button {
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    justify-content: center;
    margin-right: 2.4rem;
}
 
.categoriesoff {
    display: none;
}  

.main-container {
    margin: 0 auto;
    padding: 13px 20px;
}

.history {
    margin-top: 1.5rem;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.history h2 {
    margin-top: 50px;
    font-size: 20px;
}

.product-info .brand {
    color: var(--gray);
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.product-info .product-data {
    display: flex;
    flex-direction: column;
}

.product-info h2 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.product-info .product-description {
    margin-bottom: 30px;
}

.history .separator {
    background: var(--primary);
    border-radius: 50%;
    height: 6px;
    margin: 0 14px;
    width: 6px;
}

.product-info .product-options .price {
    width: 50%;
}

.product-info .product-options .label {
    color: var(--gray);
    margin-bottom: 5px;
}

.product-info .product-options .flex {
    display: flex;
    margin-bottom: 20px;
}

.product-info .add-cart-button {
    background: var(--primary);
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 50px;
    padding: 15px;
    width: 100%;
}
.product-info .product-description {
    margin-bottom: 30px;
}

.images-gallery {
    margin-bottom: 20px;
    overflow: hidden;
    
}

.images-gallery .gallery {
    position: relative;
    
}

img {
    width: 100%;
    margin-bottom: 1rem;
    
}


.images-gallery .button-gallery.left {
    left: 0;
}

.images-gallery .button-gallery.right {
    right: 0;
}

.images-gallery .button-gallery {
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    top: 0;
    
}

.images-gallery .images-list {
    display: flex;
    height: 350px;
    list-style: none;
    transition: .5s ease-in-out;
}

.product-detail .suggestions {
    margin-bottom: 70px;
}

.product-detail .suggestions ul {
    list-style: none;
}

.product-detail .suggestions>strong {
    color: var(--primary);
    display: block;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.images-gallery .button-gallery button {
    background: var(--primary);
    border-radius: 50%;
    color: #fff;
    font-size: 1.3rem;
    height: 40px;
    line-height: 2.2;
    width: 40px;
    z-index: 9;
}

.add-cart-button {
    display: flex;
    justify-content: center;
}

.product-info .add-cart-button {
    background: var(--primary);
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 50px;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
}

.product-info .add-cart-button i {
    margin-left: 5px;
    color: white;
    
}

.product-info .product-options .price .amount {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 10px;
}

.product-info .product-options .price span {
    display: block;
}

.purchases {
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.purchases .purchase-products-list .product-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 60px;
    margin-bottom: 20px;
}

.purchases .purchase-products-list {
    padding: 30px 10px 10px;
}

.purchase-products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}


.log-info span{
    text-align: start;
    color: var(--text-color);
    font-size: 12px;
   
}

@media (min-width: 520px){
.product-detail .suggestions ul {
    display: flex;
    flex-wrap: wrap;
}

.product-detail .suggestions li {
    width: 50%;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(260px, auto));
    gap: 2rem;
    justify-content: center;
 }

} 

@media (min-width: 992px){
  .cart-modal {
    top: 75px;
}

  .images-gallery .images-preview {
    display: block;
    display: flex;
    justify-content: center;
    list-style: none;
 }

 .images-gallery .images-preview li.selected {
    border: 2px solid var(--primary);
    border-radius: 6px;
 }

 .images-gallery .images-preview li {
    height: 70px;
    margin: 0 10px;
    padding: 5px;
    width: 70px;
 }

 .images-gallery .images-preview li img {
    cursor: pointer;
    height: 100%;
    object-fit: contain;
 }

 .product-detail .suggestions ul li {
    padding: 30px;
}

 .images-gallery .gallery {
    margin-bottom: 40px;
    
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(350px, auto));
    gap: 2rem;
    justify-content: center;
 }
 
 .main-container {
    max-width: 976px;
 }

 .images-gallery .gallery {
    margin-bottom: 40px;
    
 }

 .purchases.main-container {
    max-width: 900px;
}

.purchases .purchase-products-list .product-item {
    margin-bottom: 70px;
}

.purchases .purchase-products-list .product-item {
    height: 80px;
}

.purchases .purchase-products-list .product-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 60px;
    margin-bottom: 20px;
}

.purchases .purchase-products-list .product-item .image {
    width: 20%;
}
.image-selected {
    margin-top: -30px;
}
 
}

@media (min-width: 768px){

.product-detail .product-info-flex {
    display: flex;
 }

 .product-detail .product-info-flex>.col {
    padding: 20px;
    width: 50%;
 }

 .product-detail .product-info-flex {
    display: flex;
}

 .product-info .product-data {
    flex-direction: column-reverse;
 }

 .product-detail.main-container {
    max-width: 992px;
 }
 
 .product-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, auto));
    gap: 2rem;
    justify-content: center;
 }

 .login-container {
    width: 400px;
}

.car-icon-container {
    margin-top: 2px;
}

.username-container {
    align-items: center;
}

.login {
    position: absolute;
    left: 792px;
  }

  .purchases {
    padding: 40px 20px 80px;
}

.purchases .purchase-products-list .product-item {
    margin-bottom: 30px;
}

.image-selected {
    margin-top: 50px;
    height: 300px;
}

.product-item {
    display: flex;
}

}  

@media (min-width: 800px){
.product-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, auto));
    gap: 2rem;
    justify-content: center;
}

.login-container {
    width: 400px;
 }

  .car-icon-container {
    margin-top: 2px;
 }

 .username-container {
    align-items: center;
  }

 .login {
        position: absolute;
        left: 900px;
  }
  
  .image-selected {
    margin-top: 0;
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: center;
    position: relative;
    
}

.history {
    margin-top: 4rem;
}

.history h2 {
    
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
}

.image-selected img {
    
    display: block;
    height: 80%;
    margin: 0 auto;
    object-fit: contain;
    width: 80%;
    
}           

 }

 @media (min-width: 1440px){
    .product-list {
        display: grid;
        grid-template-columns: repeat(4, minmax(300px, auto));
        gap: 2rem;
        justify-content: center;
    }    
    
    .login-container {
        width: 400px;
    }

    .car-icon-container {
        margin-top: 2px;
    }

    .username-container {
        align-items: center;
    }

    .login {
        position: absolute;
        left: 1292px;
      }

      .car-icon-container {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: start;
        align-items: center;
        
    }

    .image-selected {
    
        align-items: center;
        display: flex;
        height: 400px;
        justify-content: center;
        position: relative;
        margin-top: -40px;
    }
    
    .image-selected img {
        
        display: block;
        height: 80%;
        margin: 0 auto;
        object-fit: contain;
        width: 80%;
        
    }
 }





